<head><title>[Williams]</title>
<body>
<div id=video>
  <div><span id=name class=reverse></span></div>
  <canvas width=304 height=256></canvas>
  <div>Frame: <span id=frames></span>
   &middot; Speed: <span id=speed></span>
  </div>
  <div>
    <button id=pause>Run</button> 
    <button id=step><u>S</u>tep</button>
    <button id=renderbutton>re<u>D</u>raw</button>
    <input id=keyboard type=checkbox></input> 
    <label for=keyboard>Key controls</label>
  </div>
  <div>
    <a href='?defender'>Defender (red)</a>
    <a href='?defendg'>(green)</a>
    <a href='?defendw'>(white)</a>
   <br>
      <a href='?robotron'>Robotron (blue)</a>
    <a href='?robotryo'>(yellow/orange)</a>
   <br>
    <a href='?joust'>Joust (white/green)</a>
    <a href='?joustr'>(red)</a>
    <a href='?joustwr'>(white/red)</a>
   <br>
    <a href='?stargate'>Stargate</a>
   <br>
    <a href='?blittest'>Blit Test</a>
    <a href='?test'>Test</a>
    <a href='?wets'>WETS</a>
  </div>
</div>

<div id=main>
  <div><span class=reverse>Main 6809e</span>
       <span class=cc></span> 
       &#x231A; <span class=clock></span>s 
       Bnk:<span class=bank></span>
  </div>
  <table>
    <tr><td>PC<br><span class=regPC></span>
        <td>A<br><span class=regA></span>
        <td>B<br><span class=regB></span>
        <td>X<br><span class=regX></span>
        <td>Y<br><span class=regY></span>
        <td>S<br><span class=regS></span>
        <td>U<br><span class=regU></span>
        <td>DP><br><span class=regDP></span>
  </table>
  <div class=stacks>S[<span class=sstack></span>&hellip;] 
                    U[<span class=ustack></span>&hellip;]</div>
  <div class=widgetpia></div>
  <div class=rompia></div>
  <div>
    <button onclick='main.RESET=!main.RESET;refresh()'>RESET<br>$<span class=reset></span>
      </button>
    <button onclick='main.NMI=!main.NMI;refresh()'>NMI<br>$<span class=nmi></span></button>
    <button onclick='main.FIRQ=!main.FIRQ;refresh()'>FIRQ<br>$<span class=firq></span></button>
    <button onclick='main.IRQ=!main.IRQ;refresh()'>IRQ<br>$<span class=irq></span></button>
  </div>
  <div class=trace></div>
  <div><u>B</u>rk: <span class=breaks></span></div>
</div>

<div id=sound>
  <div><span class=reverse>Sound 6808</span>
       <span class=cc></span> 
       &#x231A; <span class=clock></span>s 
  </div>
  <table>
    <tr><td>PC<br><span class=regPC></span>
        <td>A<br><span class=regA></span>
        <td>B<br><span class=regB></span>
        <td>X<br><span class=regX></span>
        <td>S<br><span class=regS></span>
  </table>
  <span class=stacks>S[<span class=sstack></span>&hellip;]</span>
  <div class=pia></div>
   <div>&nbsp;</div>
  <div>
    <button onclick='sound.RESET=!sound.RESET;refresh()'>RESET<br>$<span class=reset></span>
      </button>
    <button onclick='sound.NMI=!sound.NMI;refresh()'>NMI<br>$<span class=nmi></span></button>
    <button onclick='sound.IRQ=!sound.IRQ;refresh()'>IRQ<br>$<span class=irq></span></button>
  </div>
  <div class=trace></div>
  <div>Br<u>k</u>: <span class=breaks></span></div>
</div>

<div id=keys>Buttons<div></div></div>

<style>
  #video { position: absolute; left: 10; top: 10 }
  #main  { position: absolute; left: 330px; top: 10; width: 290 }
  #sound { position: absolute; left: 630px; top: 10 } 
  #keys  { position: absolute; left: 830px; top: 10 }
  .yellow { background-color: yellow }
  .latched { background-color: red }
  .breakpoint { border-left: solid 8px red; margin-left: -7px; }
  .hx:hover { text-decoration: line-through; color: red }
  .reverse { background-color: black; color: white }
  .trace { padding-bottom: 4px }
  pre { margin: 0; padding: 0; font-size: 10px; cursor: default }
  div { font: 12px Lucida Grande, sans-serif }
  td, .cc { border: dotted 1px; text-align: center; font-size: 12px }
  pre, td, div, button { font-family: Inconsolata, Menlo, monospace }
</style>

<script>
var exports = {};
function require() { return exports }

exports.readFileSync = function (filename) {
  var xhr = new XMLHttpRequest();
  xhr.open("get", filename, false);
  xhr.overrideMimeType("text/plain; charset=x-user-defined");  
  //xhr.responseType = 'arraybuffer';
  xhr.send();
  if (xhr.status !== 200) {
    var e = document.createElement('div');
    e.style.position = 'absolute';
    e.style.left = '70px';
    e.style.top = '80px';
    e.style.fontSize = '60px';
    e.style.color = 'red';
    e.innerHTML = "ERROR: " + xhr.status + " " + xhr.statusText + 
      "<br>Unable to load: '" + filename + "'";
    document.body.appendChild(e);
    throw new Error('Error: loading ' + filename + ': ' + xhr.statusText);
  }
  var result = new Uint8Array(xhr.response.length);
  for (var i = 0; i < xhr.responseText.length; ++i)
    result[i] = xhr.responseText.charCodeAt(i) & 0xFF;
  return result;
}
</script>
<script src='emu680X.js'></script>
<script src='williams.js'></script>
<script src='games.js'></script>
<script>

var main = game.main;
var sound = game.sound;

function $(selector) { return document.querySelector(selector) }

$('#name').innerHTML = game.name + (game.label ? ' (' + game.label + ')' : '');

var canvas = $('canvas');
var ctx = canvas.getContext('2d');
var pixels = ctx.createImageData(304, 256);

requestAnimationFrame(vsync);

var FRAME_COUNT = 0;
var paused = false;
var hardstep;

var pausebutton = $('#pause');
pausebutton.addEventListener('click', function (e) { pause(!paused) });
function pause(p) {
  if (!p === !paused) return;
  paused = p;
  pausebutton.innerHTML = paused ? '<u>R</u>un' : '<u>P</u>ause';
  if (paused) {
    refresh();
  } else {
    hardstep = true;
    requestAnimationFrame(vsync);
  }
}

$('#step').addEventListener('click', step);
function step(mpu) {
  if (mpu) 
    mpu.hardstep = true;
  else
    hardstep = true;
  vsync();
}

window.addEventListener('keydown', keyHandler);
window.addEventListener('keyup', keyHandler);
function keyHandler(e) {
  var k = e.keyCode;
  var c = String.fromCharCode(k);
  var down = (e.type === 'keydown');
  var controlsEnabled = $('#keyboard').checked;
  var gamecontrols = (!e.ctrlKey ^ !controlsEnabled);
  if (!gamecontrols) {
    if (!down) return;
    if (c === 'S') step();
    if (c === 'M') step(main);
    if (k === 188) step(sound);  // [,]
    if (c === 'P') pause(true);
    if (c === 'R') pause(false);
    if (c === 'B') bp(main, main.PC());
    if (c === 'K') bp(sound, sound.PC());
    if (c === 'D') draw();
  } else if (c in main.keymap) {
    $('#key_' + c).checked = down;
    var pia = main.keymap[c][0];
    var channel = main.keymap[c][1];
    var bit = main.keymap[c][2];
    var mask = 1 << bit;
    pia.peripheralInput(channel, down ? mask : 0, mask);
    if (paused) refresh();
  }
}

function makeKeyBoxes() {  
  var keys = '';
  for (var k in main.keymap) {
    function makeBox(key, pia, channel, bit, label) {
      var box = fmt('<input type=checkbox id=key_%s></input>' + 
                    '<label for=key_%s>%s &mdash; %s</label><br>',
                    key, key, key, label);
      keys += box;
    }
    makeBox.apply(null, [k].concat(main.keymap[k]));
  }
  $('#keys div').innerHTML = keys;
  for (var k in main.keymap) {
    function ael(elt, key, pia, channel, bit, label) {
      elt.addEventListener('change', function (e) {
        var mask = 1 << bit;
        pia.peripheralInput(channel, elt.checked ? mask : 0, mask);
        if (paused) refresh();
      });
    }
    ael.apply(null, [$(fmt('#key_%s', k)), k].concat(main.keymap[k]));
  }
}
makeKeyBoxes();

$('#renderbutton').addEventListener('click', draw);
function draw() { 
  render(main.ram(), pixels.data);
  ctx.putImageData(pixels, 0, 0);
}

function prepCpu(cpu, name) {
  cpu.name = name;
  cpu.extn = 0;
  cpu.execTrace = Array(100);
  cpu.profile = {};
  if (!('breakpoints' in cpu))
    cpu.breakpoints = {};
  var bs = JSON.parse(localStorage[name + '_breakpoints']||'{}');
  for (var i in bs)
    cpu.breakpoints[i & 0xFFFF] = bs[i];
}
prepCpu(main, 'main');
prepCpu(sound, 'sound');

function execTrace(cpu) {
  for (var i = 0; i < cpu.execTrace.length; ++i)
    console.log(cpu.disassemble(cpu.execTrace[(i + cpu.extn) % cpu.execTrace.length]).long);
}

function refresh(quick) {
  $('#frames').innerHTML = FRAME_COUNT;

  $('#main .clock').innerHTML = main.clock().toFixed(6);
  $('#sound .clock').innerHTML = sound.clock().toFixed(6);

  var regs = ['PC','A','B','X','Y','S','U','DP'];
  for (var i = 0; i < regs.length; ++i) {
    var r = regs[i];
    var f = (r === 'A' || r === 'B' || r === 'DP') ? '$%2x' : '$%4x';
    $('#main .reg'+r).innerHTML = fmt(r+'<br>'+f, main.reg(r));
  }
  $('#main .regPC').innerHTML = x16(main.PC());
  $('#main .regA' ).innerHTML = x8(main.reg('A'));
  $('#main .regB' ).innerHTML = x8(main.reg('B'));
  $('#main .regX' ).innerHTML = x16(main.reg('X'));
  $('#main .regY' ).innerHTML = x16(main.reg('Y'));
  $('#main .regS' ).innerHTML = x16(main.reg('S'));
  $('#main .regU' ).innerHTML = x16(main.reg('U'));
  $('#main .regDP').innerHTML = x8(main.reg('DP'));

  $('#sound .regPC').innerHTML = x16(sound.PC());
  $('#sound .regA' ).innerHTML = x8(sound.reg('A'));
  $('#sound .regB' ).innerHTML = x8(sound.reg('B'));
  $('#sound .regX' ).innerHTML = x16(sound.reg('X'));
  $('#sound .regS' ).innerHTML = x16(sound.reg('S'));

  function upcc(ccs, CC, div) {
    var cc = '';
    for (var i = 0; i < ccs.length; ++i)
      cc += ((1 << (ccs.length-1-i)) & CC) ? ccs[i] : '-';
    $('#'+div+' .cc').innerHTML = cc;
  }
  upcc('EFHINZVC', main.reg('CC'), 'main');
  upcc('HINZVC', sound.reg('CC'), 'sound');

  $('#main .sstack').innerHTML = main.traceBytes(main.reg('S'), 6);
  $('#main .ustack').innerHTML = main.traceBytes(main.reg('U'), 6);
  $('#sound .sstack').innerHTML = sound.traceBytes(sound.reg('S') + 1, 6);

  $('#main .rompia').innerHTML = game.rompia.toString();
  $('#main .widgetpia').innerHTML = game.widgetpia.toString();
  $('#sound .pia').innerHTML = game.soundpia.toString();

  $('#main .reset').parentElement.className = main.RESET ? 'latched' : '';
  $('#main .nmi').parentElement.className = main.NMI ? 'latched' : '';
  $('#main .firq').parentElement.className = main.FIRQ ? 'latched' : '';
  $('#main .irq').parentElement.className = main.IRQ ? 'latched' : '';

  $('#sound .reset').parentElement.className = sound.RESET ? 'latched' : '';
  $('#sound .nmi').parentElement.className = sound.NMI ? 'latched' : '';
  $('#sound .irq').parentElement.className = sound.IRQ ? 'latched' : '';

  $('#main .regPC').parentElement.className = main.WAIT ? 'latched' : '';
  $('#sound .regPC').parentElement.className = sound.WAIT ? 'latched' : '';
  
  if (!quick) draw();

  quick = false;
  if (quick) {
    $('#main .trace').innerHTML = '';
    $('#sound .trace').innerHTML = '';
  } else {
    updateTrace(main);
    updateTrace(sound);
    updateBreaks(main);
    updateBreaks(sound);
  }
}


function updateTrace(cpu, context) {
  context = context || 10;
  var asm = '';
  var PC = cpu.PC();
  if (defined(PC)) {
    var pc;
    function tracepc(advance) {
      var dasm = cpu.disassemble(pc);
      var klas = (pc === PC) ? 'yellow' : '';
      if (cpu.breakpoints[pc]) klas += ' breakpoint';
      var result = fmt('<pre onclick="bp(%s, %d)" class="%s">%s\n</pre>', 
                       cpu.name, pc, klas, dasm.short);
      if (advance)
        pc += dasm.nbytes;
      return result;
    }
    pc = PC-1;
    for (var i = 0; i < context - 1 && pc >= PC - context * 5; --pc) {
      if (cpu.profile[pc]) {
        ++i;
        asm = tracepc(false) + asm;
      }
    }
    for (; i < context - 1; ++i)
      asm = '<pre> &middot; </pre>' + asm;
    pc = PC;
    for (var i = 0; i < context; ++i)
      asm += tracepc(true);
  }
  $('#' + cpu.name + ' .trace').innerHTML = asm;
}

function updateBreaks(cpu) {
  var bs = '';
  for (var b in cpu.breakpoints)
    if (cpu.breakpoints[b])
      bs += fmt('<button class=hx onclick="bp(%s, %d, false)">$%4x</button>', 
                cpu.name, b, b);
  $('#' + cpu.name + ' .breaks').innerHTML = bs;
}

function bp(cpu, addr, enabled) {
  if (undef(enabled)) enabled = !cpu.breakpoints[addr];
  cpu.breakpoints[addr] = enabled;
  refresh();
  localStorage[cpu.name + '_breakpoints'] = JSON.stringify(cpu.breakpoints);
}

$('#main .reset').innerHTML = x16(main.vectors().reset);
$('#main .nmi').innerHTML = x16(main.vectors().nmi);
$('#main .firq').innerHTML = x16(main.vectors().firq);
$('#main .irq').innerHTML = x16(main.vectors().irq);

$('#sound .reset').innerHTML = x16(sound.vectors().reset);
$('#sound .nmi').innerHTML = x16(sound.vectors().nmi);
$('#sound .irq').innerHTML = x16(sound.vectors().irq);


var SYSTEM_CLOCK = 0;
var VERTICAL_COUNT = 0;
var FRAME_START = 0;

main.cyclesPerFrame = 1 / 60;       // 1 MHz CPU at 60 Hz refresh rate
sound.cyclesPerFrame = 0.895 / 60;  // 895 kHz (or so) at 60 Hz

pause(true);

var lastFrame;
var lastMain;
main.realTime = 0;
main.cpuTime = 0;

function vsync() {
  ++FRAME_COUNT;
  draw();
  var frameEnd = SYSTEM_CLOCK + 1/60;  // 60 Hz
  while (hardstep || main.hardstep || sound.hardstep || 
         (!paused && Math.min(main.clock(), sound.clock()) < frameEnd)) { 
    var mpu = (main.clock() < sound.clock()) ? main : sound;

    mpu.execTrace[mpu.extn++ % mpu.execTrace.length] = mpu.PC();

    if (mpu.profile)
      mpu.profile[mpu.PC()] = (mpu.profile[mpu.PC()]||0) + 1;

    mpu.step();
    mpu.hardstep = false;
    hardstep = false;

    if (mpu.breakpoints[mpu.PC()] && !paused) {
      console.log(fmt('Break at %s.%4x', mpu.name, mpu.PC()));
      pause(true);
    }

    if (mpu === main) {
      var vcount = ((main.clock() * 60 * 256) >> 0) % 256;
      if (VERTICAL_COUNT !== vcount) {
        VERTICAL_COUNT = vcount;
        main.store8(game.video_counter_address, VERTICAL_COUNT & 0xFC);
        
        if (VERTICAL_COUNT === 240 || VERTICAL_COUNT === 0)
          game.rompia.peripheralInput(1, 0xFF);
        if (VERTICAL_COUNT === 0)
          break;  // That's a vblank folks
      }
    }
  }

  if (!paused) {
    if (lastFrame) {
      main.cpuTime += main.clock() - lastMain;
      main.realTime += (+new Date() - lastFrame) / 1000;
      var speed = main.cpuTime / main.realTime;
      $('#speed').innerHTML = speed.toPrecision(3) + ' MHz';
    }
    lastFrame = +new Date();
    lastMain = main.clock();
  } else {
    lastFrame = null;
  }

  SYSTEM_CLOCK = Math.min(frameEnd, main.clock(), sound.clock());

  refresh(!paused);
  if (!paused)
    requestAnimationFrame(vsync);
}  
</script>
